.add-lead-button-upper-div {
  margin-bottom: 10px;
  min-height: 20px;
  width: 100%;
}

.add-lead-button-lower-div {
  max-width: 160px;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
  width: 100%;
}
