.add-lead-button-upper-div {
  margin-bottom: 10px;
  min-height: 20px;
  width: 100%;
}

.add-lead-button-lower-div {
  max-width: 160px;
  width: 100%;
  float: left;
}

.help-div {
  max-width: 35px;
  width: 100%;
  float: right;
  margin-left: 15px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  width: 100%;
}
